@charset "UTF-8";
/* ---------- base ---------- */
body {
  color: #001c2b;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  background: #fafafa;
}

/* ---------- header ---------- */

.header {
  background: #fcf2e4;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  height: 72px;
  /* 下記のflexはクリックされる箇所を限定的にするために記述している */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ffffff;
}

.header-logo_link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo_link__accent-color {
  color: #cb7aa6;
}

.header-nav {
  padding: 0 16px;
}

.header-nav_list {
  height: 72px;
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
}

.header-nav_list::-webkit-scrollbar {
  display: none;
}

.header-nav_item {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.header-nav_item:not(:first-child) {
  margin-left: 40px;
}

.header-nav_link {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (width >= 768px) {
  .header-nav {
    display: flex;
    justify-content: center;
  }
}

/* ---------- top ---------- */

.top_kv {
  /* 下記のkvのheightは、calc関数を使ってヘッダー自体の高さを引いて計算している。
  こうすることで、どのデバイス(デバイス毎に一画面の高さが違う)で閲覧しても同じレイアウトが再現できる */
  height: calc(100vh - 144px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/img_kv_sm.jpg") center/cover;
  padding: 0 16px;
}

@media (width >= 768px) {
  .top_kv {
    height: 628px;
  }
}

.top_kv_copy-wrapper {
  padding: 32px 8px;
  text-align: center;
  background: #cb7aa6;
}

.top_kv_copy {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.top_kv_copy-jp {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

.top_main {
  padding: 80px 0;
}

.contents:not(:first-child) {
  margin-top: 80px;
}

.container {
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.contents-body {
  margin-top: 64px;
}

.contents-title {
  color: #001c2b;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.contents-title::after {
  content: "RECOMMEND";
  display: block;
  /* 上記のdisplay: block;は要素の高さを保持し、装飾要素をposition配置ではなくブロックで表示しています。 */
  /* positionは高さがなくなるので配置が複雑になります。これについてはL6-L7で詳しく解説します。 */
  color: #cb7aa6;
  font-size: 12px;
  font-weight: normal;
}

.contents-title.popular::after {
  content: "POPULAR";
}

.contents-title.articles::after {
  content: "ARTICLES";
}

@media (width >= 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
}

.article-item {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
}

@media (width >= 768px) {
  .article-item {
    display: flex;
    width: 252px;
    height: 339px;
  }
}


.article-item_txt {
  padding: 24px;
}

.article-item_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-item_meta-date {
  color: #707070;
  font-size: 14px;
}

.article-item_meta-cat {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 16px;
  display: inline-block;
  background: #cb7aa6;
  border-radius: 4px;
}

.article-item_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
}

.article-list__col-4 {
  gap: 24px;
}

.article-list__col-3 {
  gap: 24px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pagination_numbers {
  font-size: 18px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  background: #ffffff;
}

.pagination_numbers__current {
  color: #ffffff;
  border-color: #cb7aa6;
  background: #cb7aa6;
}

.pagination_numbers__next {
  position: relative;
}

.pagination_numbers__next::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #001c2b;
  border-right: 1px solid #001c2b;
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 1;
}

.pagination_numbers:hover {
  color: #ffffff;
  border-color: #cb7aa6;
  background: #cb7aa6;
}
/* ---------- category ---------- */

.cat_header_title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.cat_header_title:before {
  content: "CATEGORY";
  display: block;
  color: #cb7aa6;
  font-size: 12px;
  font-weight: normal;
}

.cat_header_txt {
  color: #cb7aa6;
  font-size: 12px;
  font-weight: bold;
  display: block;
}

.cat_main {
  padding: 80px 0;
}

.cat_main_contents {
  margin-top: 64px;
}

/* ---------- single ---------- */

.single_contents {
  max-width: 1112px;
  margin: 80px auto;
  padding: 0 16px;
}

.single_main_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.single_main_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.single_main_meta-date {
  color: #707070;
  font-size: 14px;
}

.single_main_meta-cat {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 16px;
  background: #cb7aa6;
  border-radius: 4px;
  margin-left: 32px;
}

.single_main_thumb-wrapper {
  margin-top: 16px;
}

.single_main_contents h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 24px;
  margin-top: 80px;
  background: #fcf2e4;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
}

.single_main_contents h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-top: 40px;
  border-bottom: 2px solid #001c2b;
}

.single_main_contents p {
  margin-top: 40px;
  line-height: 2;
}

.single_main_btn-wrapper {
  text-align: center;
  margin-top: 80px;
}

.single_main_btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 16px 32px;
  background: #cb7aa6;
}

.single_sidebar {
  margin-top: 120px;
}

.single_sidebar_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 0;
}

.single_sidebar_bnr-wrapper {
  margin-top: 40px;
}

.single_sidebar-box {
  width: 100%;
}

.single_sidebar-box_head {
  background: #fcf2e4;
}

.single_sidebar-box_head-txt {
  font-size: 18px;
  font-weight: bold;
  padding: 16px 24px;
}

.single_sidebar-box_contents {
  margin-top: 16px;
}

.single_sidebar-cat {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
}

.single_sidebar-cat_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  position: relative;
}

.single_sidebar-cat_link::before {
  content: "";
  width: 4px;
  height: 24px;
  border-radius: 4px;
  background: #cb7aa6;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.single_sidebar-cat_link {
  font-size: 16px;
}

.single_sidebar-cat_count {
  color: #ffffff;
  font-size: 12px;
  padding: 2px 8px;
  background: #cb7aa6;
  border-radius: 4px;
}

.single_sidebar-recommend_item {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.16);
}

.single_sidebar-recommend_item:not(:first-child) {
  margin-top: 16px;
}

.single_sidebar-recommend_link {
  display: flex;
  align-items: center;
}

.single_sidebar-recommend_thumb-wrapper {
  width: 120px;
  flex-shrink: 0;
}

.single_sidebar-recommend_title {
  font-size: 12px;
  padding: 8px 16px;
}

@media (width >= 768px) {
  .single_contents {
    max-width: 1080px;
    display: flex;
    gap: 40px;
  }

  .single_main {
    flex: 7;
  }

  .single_sidebar {
    flex: 3;
    margin-top: 0;
  }
}

/* ---------- footer ---------- */

.footer {
  padding: 40px 0 16px;
  background: #fcf2e4;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.footer-logo_link {
  display: inline-block;
}

.footer-logo_link__accent-color {
  color: #cb7aa6;
}

.footer-sns {
  margin: 40px auto 0;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.footer-sns_item {
  width: 40px;
  height: 40px;
}

.footer-copyright {
  color: #707070;
  text-align: center;
  margin-top: 40px;
}

.footer-copyright_txt {
  font-size: 14px;
}
